<div class="page-bar">

    <div class="info d-inline">Showing 1 to 5 of 25 entries</div>
    <div class="d-inline p-3">
    <span class="mr-2">Show</span>
  <select id="inputState" class="form-control" [(ngModel)]="pageSize">
    <option>10</option>
    <option>20</option>
    <option>50</option>
  </select>
      <span class="ml-2"> entries</span>
  </div>
  <div class="d-inline float-right">

      <ul class="pagination">
        <li  class="page-item" [ngClass]="{'disabled':this.currentPage==1}">
          <a class="page-link" (click)="clickFirstPage()">
            <i class="glyphicon glyphicon-fast-backward"></i>
          </a>
        </li>
        <li class="page-item" [ngClass]="{'disabled':this.currentPage==1}">
          <a class="page-link" (click)="clickPrevious()">
            <i class="glyphicon glyphicon-triangle-left"></i>
          </a>
        </li>
        <li class="page-item"><a  class="page-link" [ngClass]="{'current-page' :this.currentPage==1 }" (click)="clickPageLink($event)">1</a></li>
        <li class="page-item"><a class="page-link" [ngClass]="{'current-page' :this.currentPage==2 }" (click)="clickPageLink($event)">2</a></li>
        <li class="page-item"><a class="page-link" [ngClass]="{'current-page' :this.currentPage==3 }" (click)="clickPageLink($event)">3</a></li>
        <li  class="page-item" [ngClass]="{'disabled':this.currentPage==3}">
          <a class="page-link" (click)="clickNext()">
            <i class="glyphicon glyphicon-triangle-right"></i>
          </a>

        </li>
        <li  class="page-item" [ngClass]="{'disabled':this.currentPage==3}">
          <a class="page-link" (click)="clickLastPage()">
            <i class="glyphicon glyphicon-fast-forward"></i>
          </a>
        </li>
      </ul>

    <span class="m-2">Go</span>
      <input type="text" class="form-control"  [(ngModel)]="currentPage"  (keyup.enter)="goPage()">
    <span class="ml-2">page</span>


  </div>
</div>
