.side-bar{
  background: #364150;
  color: #B4BCC8;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  width: 15%;
}
.side-bar .menu{
  margin: 0;
}
.side-bar ul{
  list-style: none;
  padding: 0;
}


.side-bar  ul   li a {
  height: 100%;
  width: 100%;
  display: block;

}

.side-bar  ul > li {
   padding: 0.4rem;
  line-height: 2rem;
  font-size: 0.7rem;
}
.side-bar > ul  > li > a:hover{
  background: #3e4b5c !important;
  cursor: pointer;
}

.side-bar ul > li > a > i {
  top: 2px;
  margin-left: 1px;
  margin-right: 4px;
}


.side-bar ul > li > a > .lar {
  font-weight: bold;
  float:right;
  font-size: 0.7rem;
}

 .active ul{
  display:block !important;
}
.side-bar > ul  > li > ul > li >a{
  padding: 0;
  color: #B4BCC8;
  text-decoration: none;
}
.side-bar > ul  > li > ul >li:hover{
  background: #3e4b5c !important
}






