<app-panel title="User Info">
  <app-table>

    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">WebSite</th>

    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let user of users">

      <td>{{user.id}}</td>
      <td><a class="td-link" [routerLink]="[user.id]">{{user.name}}</a></td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>{{ user.website }}</td>

    </tr>
    </tbody>
  </app-table>

  <app-pagination (onLoad)="getPage($event)"></app-pagination>

</app-panel>

