.table-panel{
  border: 1px solid #95A5A6;
  overflow: hidden;
}
.table-panel .table-title {
  background: #95A5A6;
  border-bottom: 0;
  padding: 0;
  margin-bottom: 0;
  color: #fff;
  height: 2rem;

}

.table-panel .table-body{
  height: 95%;
  width: 98%;
  margin: auto;
}

.table-panel .table-title  .title {
  display: inline-block;
  float: left;
  padding: 5px;


}

.table-panel .table-title .tools {
  display: inline-block;
  float: right;
  padding: 5px;

}

.table-title .tools a{
  color: #ffffff;
}

.table-title .tools a:hover{
  cursor: pointer;
}


.table-advance thead tr th {
  font-weight: 500;
}
.table-advance tbody tr  {
  font-size: 0.85rem;
}

/*.table-panel .pagination{*/
/*  position: absolute;*/
/*  margin-bottom: 3px;*/
/*}*/

.table .btn {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 5px;
  font-size: 0.8rem;
  border-radius: 0rem;
  line-height: 0.8;
  padding: 3px;
}

.table .td-link{
  color: inherit;
}
