/**
panel
 */
.panel{
  border: 1px solid #95A5A6;
  /*overflow: hidden;*/
}
.panel .panel-title {
  background: #95A5A6;
  color: #fff;
  height: 2rem;

}

.panel-title .tools a{
  color: #ffffff;
}

.panel-title .tools a:hover{
  cursor: pointer;
}

/** table
 */

.table .btn {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 5px;
  font-size: 0.8rem;
  border-radius: 0rem;
  line-height: 0.8;
  padding: 3px;
}

.table .td-link{
  color: inherit;
}
