.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
  list-style: none;
}

.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #F3565D;
  position: relative;
}

.tabbable-line > .nav-tabs > li {
  margin-right: 0px;
  border-bottom: 1px solid #ddd;
}

.tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #FBCDCF;
}
.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}

.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333;
}

.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 2rem;
  color: #737373;
  text-decoration: none;
}

.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  padding: 15px 0;
}

.hide{
  display: none!important;
}
