<div class="header">
<span class="logo_name">Admin Tech</span>
  <div class="top-menu">
    <ul class="nav pull-right">
      <li>
        <a>
        <i class="glyphicon glyphicon-bell"></i>
        </a>
        <ul>
          <li>1</li>
          <li>2</li>

        </ul>
      </li>
      <li>
        <a><i class="glyphicon glyphicon-envelope"></i> </a>
        <ul>
          <li>3</li>
          <li>4</li>

        </ul>
      </li>

      <li>
        <a>
        <i class="glyphicon glyphicon-calendar"></i>
        </a>
        <ul>
          <li>5</li>
          <li>6</li>

        </ul>
      </li>
      <li>
        <a><i class="glyphicon glyphicon-log-out"></i> </a>
        <ul>
          <li>7</li>
          <li>8</li>

        </ul>
      </li>
    </ul>

  </div>
</div>
