.header{
  height: 2.5rem;
  background: #2b3643;
}

.logo_name{
  font-size: 1.5rem;
  color: #c6cfda;
}

.top-menu{
  float:right;
  margin: 5px;
  padding: 0;
  color: #79869a;
}

.nav{
  padding: 0;
  margin-right: 1rem;
}
.pull-right{
  list-style: none;
}

.top-menu ul>li{
  position: relative;
}
.top-menu ul>li>a{
  margin: 0.5rem;
  font-size: 1.2rem;
}
.top-menu ul>li>a:hover{
  cursor:pointer;
}

.top-menu ul>li:hover>ul{
  display: block;
}
.top-menu ul>li>ul{
  float: left;
  right: 0;
  left: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  background: #ffffff;
  position: absolute;
  border: 1px solid #e7eaf0 ;
  width:8rem;
  box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
  z-index: 9999;
}

.top-menu ul>li>ul:before{

  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block !important;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ffffff;
  border-left: 7px solid transparent;
  content: '';
}
.top-menu ul>li>ul>li{
  border-bottom: 1px solid #e7eaf0;
}


