<div class="side-bar">
<ul class="menu">
  <li *ngFor="let n of menuList"  [ngClass]="{active:isActive(n.name)}">
    <a (click)="select(n.name)">
      <i class="glyphicon glyphicon-home"></i>
      <span class="title">{{n.name}}</span>
      <i class="lar" [ngClass]="{'lar-arrows-left':isActive(n.name)==false,'lar-arrows-down':isActive(n.name)==true}"></i>
    </a>

    <ul style="display: none">
      <li *ngFor="let child of n.subMenu">

        <a [routerLink]="[child.url]">
          <i class="glyphicon glyphicon-user"></i>
          <span class="title">{{child.name}}</span>

        </a>

      </li>

    </ul>
  </li>
</ul>
</div>
