.side-bar{
  z-index: 9900;
  position: absolute;
  height: 100%;
  width: 15%;
  background: #364150;
  color: #B4BCC8;
}
.side-bar .menu{
  margin: 0;
}
.side-bar ul{
  list-style: none;
  padding: 0;
}


.side-bar  ul   li a {
  height: 100%;
  width: 100%;
  display: block;
}

.side-bar  ul > li {
   padding: 0.4rem;
  line-height: 2rem;
}
.side-bar > ul  > li > a:hover{
  background: #3e4b5c !important
}

.side-bar ul > li > a > i {
  top: 2px;
  margin-left: 1px;
  margin-right: 4px;
}


.side-bar ul > li > a > i:last-child {
  font-weight: bold;
  float:right;
  font-size: 1.2rem;
}

 .active ul{
  display:block !important;
}
.side-bar > ul  > li > ul > li >a{
  padding: 0;
  color: #B4BCC8;
  text-decoration: none;
}
.side-bar > ul  > li > ul >li:hover{
  background: #3e4b5c !important
}
