<div class="side-bar">
<ul class="menu">
  <li>
    <a>
      <i class="glyphicon glyphicon-home"></i>
      <span class="title">Dashboard</span>
      <span class="selected"></span>
      <i class="lar lar-arrows-left"></i>
    </a>

    <ul>
      <li>1</li>
      <li>2</li>
    </ul>
  </li>
  <li>
    <a>
      <i class="glyphicon glyphicon-home"></i>
      <span class="title">User</span>
      <span class="selected"></span>
      <i class="lar lar-arrows-left"></i>
    </a>

    <ul>
      <li>1</li>
      <li>2</li>
    </ul>
  </li>
</ul>
</div>
