<div class="panel">
  <div class="panel-title">
    <div class="title">
      <i class="glyphicon glyphicon-user mr-1"></i>
      <span>Form</span>
    </div>
    <div class="tools">
      <a href="javascript:;" class="mr-2 tooltips-top-left" data-tooltips="Reload">
        <i class="glyphicon glyphicon-refresh"></i>
      </a>
      <a href="javascript:;"  appTableshow  tableId="Form" data-tooltips="Collapse/Expand" class="tooltips-top">
        <i class="glyphicon glyphicon-menu-down"></i>
      </a>
    </div>
  </div>
  <div id="Form">

  </div>

</div>
