<div  class="tabbable-line boxless tabbable-reversed">
<ul class="nav nav-tabs">
  <li class="active">
    <a href="#tab_0" data-toggle="tab" aria-expanded="true">
      Form Actions </a>
  </li>
  <li class="" appTabbableshow>
    <a href="javascript:;">
      2 Columns </a>
  </li>
  <li class="">
    <a href="#tab_2" data-toggle="tab" aria-expanded="false">
      2 Columns Horizontal </a>
  </li>
  <li class="">
    <a href="#tab_3" data-toggle="tab" aria-expanded="false">
      2 Columns View Only </a>
  </li>
  <li class="">
    <a href="#tab_4" data-toggle="tab" aria-expanded="false">
      Row Seperated </a>
  </li>
  <li class="">
    <a href="#tab_5" data-toggle="tab" aria-expanded="false">
      Bordered </a>
  </li>
  <li class="">
    <a href="#tab_6" data-toggle="tab" aria-expanded="false">
      Row Stripped </a>
  </li>
  <li class="">
    <a href="#tab_7" data-toggle="tab" aria-expanded="false">
      Label Stripped </a>
  </li>
</ul>
  <div class="tab-content">
    <app-panel title="Form Actions">sfsddfsdfdf</app-panel>
</div>
</div>

