.bar{
  background: #f7f7f7;
}

.breadcrumb{

  font-size: 0.7rem;
  color: #888;
  background: none;
  padding: .5rem 0;

}

.breadcrumb a{
  color: #888;
}
.breadcrumb li i{
  padding: 3px;
  font-size: 0.8rem;
}

.bpt-3{
  padding-top: 3px;
}
