/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~glyphicons-only-bootstrap/css/bootstrap.css";
@import "assets/css/components.css";
@import "assets/css/uniform.default.css";
@import "assets/css/layout.css";
@import "assets/css/darkblue.css";
@import "assets/css/simple-line-icons.css";
html,body {

  height:100%
}

body {


  font-family: "Open Sans", sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px;
  direction: ltr;
}

